{
	# Global options
	email chris@chrisshort.net # Add your email for Let's Encrypt notifications
}

##### URL Redirection #####

blue.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://bsky.app/profile/chrisshort.net permanent
}

fathom.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://usefathom.com/ref/Z8NTXN permanent
}

meet.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://calendly.com/chrisshort permanent
}

purple.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://hachyderm.io/@ChrisShort permanent
}

resume.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://chrisshort.net/resume permanent
}

venturex.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://i.capitalone.com/JZPugzWtF permanent
}

amex.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://americanexpress.com/en-us/referral/delta-skymiles-gold-american-express-card?ref=CHRISSFkgN&xl=cp01 permanent
}


cbshort.dev www.cbshort.dev {
	respond OK 200
	encode gzip zstd
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	log {
		output file /var/log/caddy/cbshort.dev-access.log
	}
	redir * https://chrisshort.net/micro/looking-for-a-new-role-2025/ permanent
}

coldrenshort.com www.coldrenshort.com {
	respond OK 200
	encode gzip zstd
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	log {
		output file /var/log/caddy/coldrenshort.com-access.log
	}
	redir * https://chrisshort.net/the-story-of-julie-and-chris-engagement/ permanent
}

imagepullbackoff.dev {
	redir https://{host}{uri}

	tls {
		issuer acme
		protocols tls1.3
	}

	handle {
		redir https://{host}{uri}
	}
}

detroitgolang.com www.detroitgolang.com {
	respond OK 200
	encode gzip zstd
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	log {
		output file /var/log/caddy/detroitgolang.com-access.log
	}
	redir * https://github.com/detroitgolang permanent
}

suggestedread.com www.suggestedread.com {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://devopsish.com/firehose{uri} permanent
}

walkingoxymoron.com www.walkingoxymoron.com cbshort.co www.cbshort.co thechrisshort.com www.thechrisshort.com advisedbyshort.com www.advisedbyshort.com {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://chrisshort.net permanent
}

devopsnewsletters.com www.devopsnewsletters.com devopsnewsletter.com www.devopsnewsletter.com {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://chrisshort.net/devops-news/ permanent
}

devopsreadme.com www.devopsreadme.com {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://chrisshort.net/devops-readme/ permanent
}

kubenews.net www.kubenews.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://chrisshort.net/kubernetes-news/ permanent
}

kubereadme.com www.kubereadme.com {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://chrisshort.net/kubernetes-readme/ permanent
}

##### Home Lab Reverse Proxies #####

#
# Uptime Monitor Endpoint
#
lab.chrisshort.net casa.chrisshort.net {
	respond OK 200
	encode gzip zstd
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	log {
		output file /var/log/caddy/casa.chrisshort.net-access.log
	}
}
#
# Uptime Kuma
#
status.chrisshort.net {
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	redir * https://uptime.chrisshort.net/status/1 permanent
}

uptime.chrisshort.net {
	reverse_proxy 10.0.4.19:3001
	encode gzip zstd
	tls {
		issuer acme
		protocols tls1.3
	}
	header {
		X-Frame-Options "DENY"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy: no-referrer-when-downgrade
		Permissions-Policy = 'accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()'
		# Remove server header
		-Server
	}
	log {
		output file /var/log/caddy/uptime.chrisshort.net-access.log
	}
}
