[Unit]
Description=Caddy Proxy
Documentation=man:podman-generate-systemd(1)
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/cbshort/Container/caddy-proxy
Group=root

# Add debug logging
Environment=PODMAN_LOG_LEVEL=debug

ExecStartPre=/usr/bin/podman-compose pull
ExecStart=/usr/bin/podman-compose up -d  --force-recreate
ExecStop=/usr/bin/podman-compose down

[Install]
WantedBy=multi-user.target